body {
  background-color: pink;
  background-image: linear-gradient(to bottom right, ##ffd6e8, #ffab4a);
}

h1 {
  color: black;
  font-family: Monaco;
  text-align: center;
}

p {
  font-family: Geneva;
  font-size: 10px;
}
