body {
  background-color: ##000000;
  background-image: linear-gradient(62deg, #333333 0%, #1A4661 100%);
}


h1 {
  color: #57DBDE;
  font-family: Monaco;
  text-align: center;
}

p {
  color: #e3feff;
  font-family: Geneva;
  font-size: 12px;
}

div {
  width: 350px;
  padding: 10px;
  background: black; 
}

h2 {
  font-family: Geneva;
  font-size: 12px;
  color: grey;
}

text {
  font-family: Geneva;
  font-size: 12px;
  color: white;
}

a {
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-family: Geneva;
  text-align: center;
}

.button {
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-family: Geneva;
  text-align: center;
}
